<div class="container">
  <h1>Restaurants</h1>
</div>

<div class="container">
  <%= link_to "Add a restaurant", new_restaurant_path, class: "btn btn-outline-primary my-2 my-sm-0" %>
</div>


<div class="container">
  <div class="d-flex justify-content-around">
    <% @restaurants.each do |restaurant| %>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%= restaurant.name %></h2>
          <p class="card-text"><%= restaurant.address %></p>
          <%= link_to "See details", restaurant_path(restaurant), class: "btn btn-primary", style: "width: 10rem"%>
        </div>
      </div>
    <% end %>
  </div>
</div>
